*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 10px;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
section{
  width: 50rem;
  margin: auto;
  box-shadow: 2px 2px 30px 2px lightgray;
  padding: 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}